if SHIELD_3WAYSPLIT_LEFT || SHIELD_3WAYSPLIT_RIGHT

config ZMK_KEYBOARD_NAME
    default "3WaySplit"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y
endif

if SHIELD_3WAYSPLIT_LEFT || SHIELD_3WAYSPLIT_RIGHT || SHIELD_3WAYSPLIT_NUMPAD

config ZMK_SPLIT
    default y

endif